body {
    margin: 0;
}


a {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.nav-logo {
    font-size: 24px;
    color: #ffffff;
}

.nav-logo i {
    color: #d49466;
}

.navbar-menu {
    display: flex;

    padding-left: 0;
    list-style: none;
}

.navbar-menu li {
    padding: 8px 12px;
}

.navbar-menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navbar-sns {
    list-style: none;
    color: #ffffff;
    display: flex;
}

.navbar-sns li {
    padding: 8px 12px;
}

.navbar-toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid white;

    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
    }

    .navbar-sns {
        display: none;
        justify-content: center;
        width: 100%;
        padding-left: 0;
        border: 1px solid white;
    }

    .navbar-toggleBtn {
        display: block;
    }

    .navbar-menu.active,
    .navbar-sns.active {
        display: flex;
    }
    
}
